:root {
    --primar-color: #E11D3F;
}

.Notifications {
    border: 1px dashed var(--primar-color);
    padding: 2rem;
    width:90%;
    margin: 10px auto;
}

[data-notification-type="default"] {
    color: #1D0563;
}

[data-notification-type="urgent"] {
    color: #F02201;
}
